<h1><strong>注文履歴一覧</strong></1h>

<div class="row">
  <div class="col-md-4">
    <strong>注文情報</strong>
    <table>
      <tbody>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= @order.postal_code %></br>
            <%= @customer.address %></br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= order.payment_method %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <strong>請求情報</strong>
    <table>
      <tr>
        <th>商品合計</th>
        <td><%= %></td>
      </tr>
      <tr>
        <th>配送料</th>
        <td><%= %></td>
      </tr>
      <tr>
        <th><strong>ご請求金額</strong></th>
        <td><%= %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>注文内容</strong>
      <table>
        <thead>
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.price_without_tax %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= order_detail.item.price_without_tax %></td>
          </tr>
          <%= end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>