<div class="continer">
  <div class="row">
    <div class="col-md-3"><p>ショッピングカート</p></div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><%= link to "カートを空にする" cart_item.destroy_all %></div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <%= @items.each do |item| %>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= item.name %></th>
            <th><%= item.price %></th>
            <th><%= item.amount %></th>
            <th><%= item.%></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to "買い物を続ける", %>
    </div>
    <div class="col-md-offset-6 col-md-4">
      <table>
        <tr>
          <td><strong>合計金額</strong></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <senter>
    <%= link_to "情報入力に進む",%>
  </senter>
</div>
  

