<div class="conteiner">
  <div class="row">
    <div class="col-md-2">
      <h2><p>商品編集</p></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= form_with model:@item, local: true do |f| %>
      <tr>
        <td>商品画像</td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td>商品名</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= f.collection_select :genre_id %></td>
      </tr>
      <tr>
        <td>税抜価格</td>
        <td><%= f.text_field :price_without_tax + 円 %></td>
      </tr>
    </div>
  </div>
  <div class="senter">
    <%= f.submit "変更を保存" %>
  </div>
</div>