<div class="conteiner">
  <div class="row">
    <div class="col-md-2">
      <h2><p>商品詳細</p></h2>
      <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no_image.jpg' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <tbody>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.description %></td>
        </tr>
        <tr>
          <td>税込価格</td>
          <td><%= @item.price_without_tax + 円 %></td>
        </tr>
      </tbody>
    </div>
  </div>
  <div class="row">
    <senter>
      <%= link_to "編集する" edit_admins_item_path(@item) %>
    </senter>
  </div>
</div>