<h1><strong>配送先登録/一覧</strong></h1>
<div class="row">
  <div class="col-md-9">
    <%= from_with model: @address, local:ture do |f| %>
    <table>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録" %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-7">
    <table>
      <thead>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <%= @address each do |address| %>
      <tbody>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する" edit_customers_address_path %><%= link_to "削除する", address_path(@address), method: :delete, class: "btn btn-sm btn-danger" %></td>
      </tbody>
      <%= end %>
    </table>
  </div>
</div>
